Repository aidan-ferguson/moxie-energy-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:test, backend:lint, unity:build, android:build, android:test

Path conditions:
  backend:build: any of: backend/**/*
  backend:test: any of: backend/**/*
  backend:lint: any of: backend/**/*
  unity:build: any of: frontend/**/*
  android:build: any of: frontend/**/*
  android:test: any of: frontend/**/*

#102 fix pipeline
  .gitlab-ci.yml
Due: none

home page
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
Due: unity:build, android:build, android:test

Merge-aret Thatcher
  frontend/main-app/app/src/main/res/layout/action_bar_account.xml
Due: unity:build, android:build, android:test

leaderboard and requests
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/SH22Utils.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_account.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/fragment_login.xml
  frontend/main-app/app/src/main/res/layout/friend_row.xml
  frontend/main-app/app/src/main/res/layout/krew2.xml
  frontend/main-app/app/src/main/res/layout/request_row.xml
Due: unity:build, android:build, android:test

restored friends file
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
Due: unity:build, android:build, android:test

Some modifications for public server
  backend/backend/settings.py
  backend/setup.py
Due: backend:build, backend:test, backend:lint

Switched remote URL to server
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/Constants.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentNoUnity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentUnity.java
  frontend/main-app/app/src/main/res/layout/fragment_ecosystem.xml
Due: unity:build, android:build, android:test

Added public server to trusted domains
  backend/backend/settings.py
Due: backend:build, backend:test, backend:lint

#91 Some backend unit tests
  backend/api/tests/test_views.py
  backend/api/urls.py
  backend/api/views.py
Due: backend:build, backend:test, backend:lint

polish friends ui
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/drawable/rounded_rectangle_button3.xml
  frontend/main-app/app/src/main/res/drawable/rounded_rectangle_button4.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/krew.xml
  frontend/main-app/app/src/main/res/layout/request_row.xml
Due: unity:build, android:build, android:test

Added energy score to friends
  backend/api/models.py
  backend/api/utils.py
  backend/api/views.py
Due: backend:build, backend:test, backend:lint

login + signup
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/activites/LoginActivity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentNoUnity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentUnity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/changeProviderFragment.java
  frontend/main-app/app/src/main/res/drawable/outlined_box.xml
  frontend/main-app/app/src/main/res/layout/action_bar_account.xml
  frontend/main-app/app/src/main/res/layout/action_bar_ecosystem.xml
  frontend/main-app/app/src/main/res/layout/fragment_account.xml
  frontend/main-app/app/src/main/res/layout/fragment_ecosystem.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/fragment_login.xml
  frontend/main-app/app/src/main/res/layout/fragment_register.xml
Due: unity:build, android:build, android:test

Friend score update frontend
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendRelationship.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/UserInfo.java
Due: unity:build, android:build, android:test

frifnds
  frontend/main-app/app/src/main/res/drawable/layout_bg5.xml
Due: unity:build, android:build, android:test

fingers crossed
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/UserInfo.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/drawable/layout_bg5.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/krew.xml
  frontend/main-app/app/src/main/res/layout/request_row.xml
Due: unity:build, android:build, android:test

We have friends now!!!
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
Due: unity:build, android:build, android:test

send friends request
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
Due: unity:build, android:build, android:test

Fixed friend request
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

leader board, requests and appliances updated, bug fixes in appliance page
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/UserInfo.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/activites/MainActivity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/drawable/layout_bg10.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg2.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg6.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg7.xml
  frontend/main-app/app/src/main/res/drawable/rounded_rectangle_button3.xml
  frontend/main-app/app/src/main/res/drawable/rounded_rectangle_button4.xml
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
  frontend/main-app/app/src/main/res/layout/fragment_appliances.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/friend_row.xml
  frontend/main-app/app/src/main/res/layout/krew.xml
  frontend/main-app/app/src/main/res/layout/request_row.xml
  frontend/main-app/app/src/main/res/values/colors.xml
Due: unity:build, android:build, android:test

#113 added license
  LICENSE
Due: none

merge
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
Due: backend:build, backend:test, backend:lint

#112 Added appliance tips generation
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
  frontend/main-app/app/src/main/res/values/strings.xml
Due: unity:build, android:build, android:test

#110 Implemented changing data providers and deleting account
  backend/api/data_providers/dale_data_provider.py
  backend/api/models.py
  backend/api/urls.py
  backend/api/views.py
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/Constants.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/UserInfo.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/activites/MainActivity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentNoUnity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/changeProviderFragment.java
  frontend/main-app/app/src/main/res/layout/action_bar_account.xml
  frontend/main-app/app/src/main/res/layout/fragment_account.xml
  frontend/main-app/app/src/main/res/layout/fragment_appliances.xml
Due: backend:build, backend:test, backend:lint, unity:build, android:build, android:test

#91 Trying to get the unit tests working
  backend/api/tests/test_views.py
  backend/api/views.py
Due: backend:build, backend:test, backend:lint

#106 Can now scroll on register/login page
  frontend/main-app/app/build.gradle
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/LoginFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/RegisterFragment.java
  frontend/main-app/app/src/main/res/drawable/rounded_error.xml
  frontend/main-app/app/src/main/res/layout/fragment_login.xml
  frontend/main-app/app/src/main/res/layout/fragment_register.xml
  frontend/main-app/app/src/main/res/values/strings.xml
Due: unity:build, android:build, android:test

#106 more minor frontend fixes
  frontend/main-app/app/src/main/res/layout/fragment_ecosystem.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
Due: unity:build, android:build, android:test

#106 Re-integrated tips generation with UI
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/activites/MainActivity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/SettingsFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/fragment_settings.xml
  frontend/main-app/app/src/main/res/layout/tip_of_day.xml
Due: unity:build, android:build, android:test

#106 Update account page with scrollview
  frontend/main-app/app/src/main/res/layout/fragment_account.xml
  frontend/main-app/app/src/main/res/values/strings.xml
Due: unity:build, android:build, android:test

#106 fixed gauge constraints and calculation of gauge values
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
Due: unity:build, android:build, android:test

ui
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/drawable/layout_bg.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg3.xml
  frontend/main-app/app/src/main/res/layout/custom_dialog.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
Due: unity:build, android:build, android:test

ui updates
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
Due: unity:build, android:build, android:test

ui
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

Updated gauge card height
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
Due: unity:build, android:build, android:test

Finalised appliance cards
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
Due: unity:build, android:build, android:test

.close
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
Due: unity:build, android:build, android:test

Fix friends energy score
  backend/api/models.py
Due: backend:build, backend:test, backend:lint

Network on main thread fix
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
Due: unity:build, android:build, android:test

Fix thread not starting
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
Due: unity:build, android:build, android:test

Fix grading system
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
Due: unity:build, android:build, android:test
