Repository aidan-ferguson/moxie-energy-project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:build, backend:test, backend:lint, unity:build, android:build, android:test

backend:build:
  cache:
    paths:
    - backend/venv
  stage: build
  needs: []
  image: python:3.9
  before_script:
  - - export DEBIAN_FRONTEND=noninteractive
    - apt-get update -y
    - apt-get install -y python3 python3-pip python3-venv
    - cd $BACKEND_DIR
    - python3 -m venv venv
    - source venv/bin/activate
  ...

backend:test:
  cache:
    paths:
    - backend/venv
  stage: test
  needs:
  - backend:build
  image: python:3.9
  before_script:
  - - export DEBIAN_FRONTEND=noninteractive
    - apt-get update -y
    - apt-get install -y python3 python3-pip python3-venv
    - cd $BACKEND_DIR
    - python3 -m venv venv
    - source venv/bin/activate
  ...

backend:lint:
  cache:
    paths:
    - backend/venv
  stage: test
  needs:
  - backend:build
  image: python:3.9
  before_script:
  - - export DEBIAN_FRONTEND=noninteractive
    - apt-get update -y
    - apt-get install -y python3 python3-pip python3-venv
    - cd $BACKEND_DIR
    - python3 -m venv venv
    - source venv/bin/activate
  ...

unity:build:
  stage: build
  needs: []
  image: unityci/editor:2020.3.41f1-android-1
  before_script:
  - - if [ -z $UNITY_LICENSE ]; then bash scripts/ci_unity_activation.bash; exit 1; fi
    - mkdir -p /root/.cache/unity3d
    - mkdir -p /root/.local/share/unity3d/Unity
  ...

android:build:
  stage: build
  needs:
  - unity:build
  image: sh22/android:latest
  before_script:
  - - cd "$ANDROID_PROJECT_DIR"
    - echo "sdk.dir=${ANDROID_HOME}" > local.properties
    - chmod +x ./gradlew
  script:
  ...

android:test:
  stage: test
  needs:
  - android:build
  image: sh22/android:latest
  before_script:
  - - cd "$ANDROID_PROJECT_DIR"
    - echo "sdk.dir=${ANDROID_HOME}" > local.properties
    - chmod +x ./gradlew
  script:
  - ./gradlew jacocoTestReport
  coverage: '/    - Instruction Coverage: ([0-9.]+)%/'
  artifacts:
    when: always
  ...

Added colour changing to friends
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/activites/MainActivity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
Due: unity:build, android:build, android:test

#99 Cleaned up frontend TODOs
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/AuthenticationHandler.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
  frontend/main-app/app/src/main/res/layout/fragment_ecosystem.xml
  frontend/main-app/app/src/main/res/values/strings.xml
Due: unity:build, android:build, android:test

#99 Cleaned up backend TODOs
  backend/api/data_providers/csv_data_provider.py
Due: backend:build, backend:test, backend:lint

#91 Updated backend unit testing
  backend/api/serialisers.py
  backend/api/tests/test_models.py
  backend/api/tests/test_views.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
Due: backend:build, backend:test, backend:lint

Update to pipeline for testing
  .gitlab-ci.yml
Due: none

Changed tests to work with pipeline setup
  backend/api/tests/test_views.py
Due: backend:build, backend:test, backend:lint

Cleaned up some linter warnings
  backend/api/models.py
  backend/api/tests/test_models.py
  backend/api/tests/test_views.py
  backend/api/utils.py
  backend/api/views.py
  backend/scripts/download_dale_data.py
Due: backend:build, backend:test, backend:lint

Cleaned up final linter warnings
  backend/api/tests/test_views.py
  backend/backend/settings.py
Due: backend:build, backend:test, backend:lint

updated login test and fixed nav bar test
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/MainActivityTest.kt
Due: unity:build, android:build, android:test

#91 Fixed instrumentation test failure due to changed layouts
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/MainActivityTest.kt
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/res/layout/fragment_login.xml
  frontend/main-app/app/src/main/res/layout/fragment_register.xml
Due: unity:build, android:build, android:test

#91 some frontend unit testing
  frontend/main-app/app/src/test/java/com/sh22/energy_saver_app/ExampleUnitTest.kt
  frontend/main-app/app/src/test/java/com/sh22/energy_saver_app/TestSH22Utils.java
  frontend/main-app/app/src/test/java/com/sh22/energy_saver_app/TestUserInfo.java
Due: unity:build, android:build, android:test

modified log in test for updated admin details
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/MainActivityTest.kt
Due: unity:build, android:build, android:test

cleaned some variable names
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

more cleaning
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

code cleanup
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

#115 Cleaned up and commented frontend/common folder
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceCardData.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceData.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/CacheObject.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/Constants.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendRelationship.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendRequest.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/Friends.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/SH22Utils.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/UserInfo.java
Due: unity:build, android:build, android:test

fixed variable and color naming in all XML files
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/drawable/layout_bg3.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg5.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg6.xml
  frontend/main-app/app/src/main/res/drawable/layout_bg7.xml
  frontend/main-app/app/src/main/res/drawable/rounded_rectangle_button.xml
  frontend/main-app/app/src/main/res/drawable/rounded_rectangle_button2.xml
  frontend/main-app/app/src/main/res/layout/action_bar_account.xml
  frontend/main-app/app/src/main/res/layout/action_bar_appliances.xml
  frontend/main-app/app/src/main/res/layout/activity_main.xml
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
  frontend/main-app/app/src/main/res/layout/custom_dialog.xml
  frontend/main-app/app/src/main/res/layout/fragment_account.xml
  frontend/main-app/app/src/main/res/layout/fragment_appliances.xml
  frontend/main-app/app/src/main/res/layout/fragment_ecosystem.xml
  frontend/main-app/app/src/main/res/layout/fragment_home.xml
  frontend/main-app/app/src/main/res/layout/fragment_login.xml
  frontend/main-app/app/src/main/res/layout/fragment_register.xml
  frontend/main-app/app/src/main/res/layout/friend_row.xml
  frontend/main-app/app/src/main/res/layout/krew.xml
  frontend/main-app/app/src/main/res/layout/record_fragment.xml
  frontend/main-app/app/src/main/res/layout/report.xml
  frontend/main-app/app/src/main/res/layout/request_row.xml
  frontend/main-app/app/src/main/res/layout/tip_of_day.xml
  frontend/main-app/app/src/main/res/menu/top_settings_menu.xml
  frontend/main-app/app/src/main/res/values-night/theme.xml
  frontend/main-app/app/src/main/res/values-night/themes.xml
  frontend/main-app/app/src/main/res/values/colors.xml
  frontend/main-app/app/src/main/res/values/themes.xml
Due: unity:build, android:build, android:test

extracted some methods in RegisterFragment.java to reduce repetition of code and improve readability
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/RegisterFragment.java
Due: unity:build, android:build, android:test

fixed home button
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
  frontend/main-app/app/src/main/res/layout/record_fragment.xml
  frontend/main-app/app/src/main/res/layout/tip_of_day.xml
Due: unity:build, android:build, android:test

#115 Added javadoc comments to Authentication files
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/AuthenticationException.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/AuthenticationHandler.java
Due: unity:build, android:build, android:test

all colors are fixed
  frontend/main-app/app/src/main/res/layout/appliance_row.xml
  frontend/main-app/app/src/main/res/layout/tip_of_day.xml
  frontend/main-app/app/src/main/res/values/strings.xml
Due: unity:build, android:build, android:test

fixed all whitespaces
  frontend/main-app/app/src/main/res/layout/action_bar_account.xml
Due: unity:build, android:build, android:test

fixed more whitespaces
  frontend/main-app/app/src/main/res/layout/action_bar_account.xml
  frontend/main-app/app/src/main/res/layout/friend_row.xml
Due: unity:build, android:build, android:test

fixed inapporpriate naming conventions
  frontend/main-app/app/src/main/res/layout/friend_row.xml
  frontend/main-app/app/src/main/res/layout/tip_of_day.xml
Due: unity:build, android:build, android:test

#115 Added javadocs comments to BackendInterface
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendException.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
Due: unity:build, android:build, android:test

RegisterFragment.java returns void
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/RegisterFragment.java
Due: unity:build, android:build, android:test

leaderbaord refresh
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/FriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/activites/MainActivity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

code clean up
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ActiveFriendsRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

cleanup
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

added navigation and home page ui tests
  frontend/main-app/app/build.gradle
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/MainActivityTest.kt
Due: unity:build, android:build, android:test

extracted method ParseFieldErrors in LoginFragment.java, could possibly be moved to a separate java file (since this method is also in RegisterFragment.java) to reduce repetition of code
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/LoginFragment.java
Due: unity:build, android:build, android:test

fixed krew button bug
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/ApplianceRecyclerViewAdapter.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
  frontend/main-app/app/src/main/res/values/colors.xml
Due: unity:build, android:build, android:test

#115 Updated homepage letter grade calculation to use utility function
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/HomeFragment.java
Due: unity:build, android:build, android:test

#115 Added comments explaining why there are multiple ecosystem fragement files
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentNoUnity.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragmentUnity.java
Due: unity:build, android:build, android:test

added navigation and home page ui tests *fixed
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/MainActivityTest.kt
Due: unity:build, android:build, android:test

merged stashed changes
  frontend/main-app/app/build.gradle
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/common/Constants.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/EcosystemFragment.java
Due: unity:build, android:build, android:test

#111 Fixed instrumentation tests and added a few more
  .gitlab-ci.yml
  frontend/main-app/app/build.gradle
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/ApplianceFragmentTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/HomeFragmentTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/LoginActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/MainActivityTest.kt
  frontend/main-app/app/src/androidTest/java/com/sh22/energy_saver_app/TestUtilities.kt
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/backend/BackendInterface.java
  frontend/main-app/app/src/main/java/com/sh22/energy_saver_app/ui/fragments/AppliancesFragment.java
  frontend/main-app/app/src/main/res/menu/top_settings_menu.xml
  scripts/get_integration_code_coverage.py
Due: unity:build, android:build, android:test

#111 Updated pipeline so that hopefully the instrument tests can run in pipeline
  .gitlab-ci.yml
Due: none

#111 Increased delay in waiting for emulator to boot
  .gitlab-ci.yml
Due: none

#111 Pipeline integration test emulator now waits till boot completed
  .gitlab-ci.yml
Due: none

Path conditions:
  backend:build: any of: backend/**/*
  backend:test: any of: backend/**/*
  backend:lint: any of: backend/**/*
  unity:build: any of: frontend/**/*
  android:build: any of: frontend/**/*
  android:test: any of: frontend/**/*
